
.navbar {
    height: 70px;
    background: #343A40;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 11%);
    font-size: 16.17px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0 1rem;
}